@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500;700&family=Quando&display=swap');

:root{
   /*Color Project*/
   --bg-head-foo: #1D2637;
   --bg-main: #D08B81;
   /*Color Form*/
   --bg-content: #dfa399;
   --bg-input: #ebdad0;
   --bg-button :#BC7D6F;
   /*Color Font*/
   --font-main: black;
   --font-menu: #fafafa;
   --font-foo: #5B7BAF;
   --font-dev: azure;
   /*Color Buttons*/
   --button-main: #5B7BAF;
   --button-form: #BC7D6F;
   /*Color Form */
   --form-borde: solid darkslategray;
   --bg-form: #dfa399;
   --bg-input-form: #ebdad0;
   /*Color Content Dev*/
   --bg-dev-foo: #33333369;
}

*{
   border: 0px;
   padding: 0px;
   margin: 0px;
   color: var(--color-font);
   align-items: center;
   font-family: "Quando", serif;
   font-size: 16px;
}

body{
   background-color: var(--bg-main);
}

#Cabecalio{
   display: flex;
   justify-content: space-between;
   background-color: var(--bg-head-foo);   
}

#Logo{
   margin-inline-start: 10%;
   height: 128px;
   margin-top: 1%;
   margin-bottom: 1%;
}

#Menu{
   display: flex;
   justify-content: flex-end;
   margin-inline-end: 11%;
}

#Menu a {
   margin-left: 2em; /* Ajuste conforme necessário */
   text-decoration: none;
   /*color: #000; /* Cor do texto do link, ajuste conforme necessário */
   font-size: 1.3em;
   color: var(--font-menu);
}

#main-content{
   margin: auto;
   height: 100%;
   width: 80%;
   background-image: url("../imagens/bg-texture.jpg");
}

#foo-content{
   width: 100%;
   height: auto;
   position: static;
   background-color: var(--bg-head-foo);
}

#footer-content{
   display: flex;
   height: auto;
   justify-content: space-evenly;
   align-items: self-start;
}

#Logo-footer{
   height: 140px;
   margin-top: 15%;
}

#footer-menu{
   display: grid;
   margin-top: 1.2rem;
   margin-bottom: 1.2rem;
}

#footer-menu a{
   padding-top: 0.4rem;
   padding-bottom: 0.4rem;
   text-decoration: none;
   color: var(--font-foo);
}

#social_midia{
   display: flex;
   margin-inline-end: 12%;
   margin-top: 1.2rem;
}

#social_midia a{
   text-decoration: none;
   color: var(--font-foo);
}

#dev-content{
   display: inline-block;
   width: 100%;
   background-color: var(--bg-dev-foo);
   display: inline-flex;
  justify-content: space-between;
}

#dev-content p{
   color: var(--font-dev);
   padding-top: 10px;
   padding-bottom: 15px;
   margin-inline-start: 4%;
   font-size: 12px;
}

#dev-content a{
   margin-inline-end: 6%;
   color: var(--font-dev);
   padding-top: 10px;
   padding-bottom: 15px;
   text-decoration: none;
   font-size: 12px;
}