{% extends "base_page.html" %}

{% load static %}

{% block title %}ACO Advocacia - Contato{% endblock  %}

{% block content %}
   
<section class="section-content">

   <div class="contact-content">
      <div class="consultants-content">
         <h3>SOLICITE UMA CONSULTA</h3>
         <div class="address">
            <h4>ENDEREÇO</h4>
            <div class="address-content">
               <div class="address-img">
                  <img src="{% static 'icons/share-location-icon.svg' %}" alt="location">
               </div>
               <div class="address-info">
                  <p>Av. Antônio Mathias de Camargo, 128</p>
                  <p>Sala 12 Centro - Cotia</p>
                  <p>CEP: 06700-250</p>
               </div>
            </div>   
         </div>
         <div class="consultants">
            <h4>CONTATO</h4>
            <div>   
               <div>
                  <h5>Alessandra Nepomuceno de Oliveira</h5>
                     <p><img src="{% static 'icons/certify-icon.svg' %}" alt="certify"> OAB/SP 398672</p>
                     <p><img src="{% static 'icons/phone-icon.svg' %}" alt="phone">   12 99642-9191</p>
               </div>
               <div>
                  <h5>Jeferson Mendes de Andrade</h5>
                     <p><img src="{% static 'icons/certify-icon.svg' %}" alt="certify">   OAB/SP419.868</p>
                     <p><img src="{% static 'icons/phone-icon.svg' %}" alt="phone">   11 97119-9647</p>
               </div>
               <div>
                  <h5>Luciana Gonçalves de Camargo</h5>
                     <p><img src="{% static 'icons/certify-icon.svg' %}" alt="certify">   OAB/SP430670</p>
                     <p><img src="{% static 'icons/phone-icon.svg' %}" alt="phone">   1197290-8196</p>
               </div>
            </div>   
         </div>  
         <div class="opening-hours">
            <h4>HORÁRIO DE ATENDIMENTO</h4>
            <div>
               <p>SEGUNDA à Sexta das 9:00  as 17:00</p>
               <p>Em Caso de Emergências</p>
               <p>SEGUNDA A DOMINGO - 24HS</p>
            </div>
         </div>
      </div>

      <div id="content-form">
         <form method="POST" action=".">
            {% csrf_token %}
            <label>Nome: </label>
            {{ form.name }}
            <label>Telefone: </label>
            {{ form.phone }}
            <label>Email: </label>
            {{ form.email }}
            <label>Assunto: </label>
            {{ form.topic }}

            <button>Enviar</button>
         </form>
      </div>

   </div>

</section>

{% endblock  %}