{% extends "base_page.html" %}

{% load static %}

{% block title %}ACO Advocacia - Home{% endblock  %}
{% block style %}
<link rel="stylesheet" href="{% static 'styles/index-style.css' %}">
{% endblock %}
{% block content %}

<section class="section-content" id="presentation-section">
    <div id="content-specialist">
        <h1>Advocacia</h1>
        <h1>Especializada</h1>
        <p>Fale agora com um especialista.</p>
        <div class="button-specialist">
            <button type="button"><a href="{% url 'agency'%}">SAIBA MAIS!</a></button>
            <button type="button"><a href="{% url 'solutions'%}">SAIBA MAIS P/ EMPRESA!</a></button>
        </div>
    </div>
    <div id="emergency-content">
        <p>Atendimento emergencial 24 horas.</p>
        <p>Prisão em flagrante,<br>acompanhamento em delegacia.</p>
        <div class="button-specialist">
            <button type="button"><a href="https://api.whatsapp.com/send?phone=5511916882797" target="_blank">Clique
                Aqui!</a></button>
        </div>
    </div>
</section>
<section class="section-content">

    <h2>Sobre nós</h2>
    <p>
        Seja bem-vindo, a ACO Advocacia, um escritório juridico dedicado a fornecer serviços de excelência em diversas
        áreas do direito.</p>
    <p>Nossa equipe de advogados altamente competentes possui vasta experiência em direito civil, criminal, trabalhista
        e previdenciário.
    </p>
    <p>
        Na ACO Advocacia acreditamos que a competência é a base para construir relações de confiança duradouras com
        nossos clientes. Nossos profissionais são apaixonados por buscar a excelência em cada caso, oferecendo análises
        juridicas sólidas, estratégicas e eficazes.
    </p>
    <p>
        Entendemos que cada cliente é único, e é por isso que personalizamos nossos serviços para atender às suas
        necessidades específicas. Ao escolher, a ACO Advocacia, você está optando por uma equipe que valoriza a ética, a
        transparência e a dedicação na busca pelos melhores resultados legais.
    </p>
    <p>
        Confie na ACO Advocacia para representação legal de qualidade, onde a competência se encontra com a dedicação
        para alcançar os melhores resultados para você, e seus interesses legais.
    </p>
</section>
<section class="section-content">

    <div class="contact-content">
        <div class="consultants-content">
            <h3>SOLICITE UMA CONSULTA</h3>
            <div class="address">
                <h4>ENDEREÇO</h4>
                <div class="address-content">
                    <div class="address-img">
                        <a alt="link-location" target="_blank"
                           href="https://www.google.com.br/maps/place/Av.+Antônio+Mathias+de+Camargo,+128+-+SL+12+-+Centro,+Cotia+-+SP,+06700-158/@-23.6064261,-46.9280643,19z/data=!3m1!4b1!4m6!3m5!1s0x94cf0763f5eeaaab:0x1719636470e46c7c!8m2!3d-23.6064261!4d-46.9280643!16s%2Fg%2F11p5lpc7c2?entry=ttu">
                            <img src="/static/icons/share-location-icon.svg" alt="location">
                        </a>
                    </div>
                    <div class="address-info">
                        <p>Av. Antônio Mathias de Camargo, 128</p>
                        <p>Sala 12 Centro - Cotia</p>
                        <p>CEP: 06700-250</p>
                    </div>
                </div>
            </div>
            <div class="consultants">
                <h4>CONTATO</h4>
                <div>
                    <div>
                        <h5>Alessandra Nepomuceno de Oliveira</h5>
                        <div class="blockconsultants">
                            <div class="contentconsultants">
                                <div class="consultants-img">
                                    <img class="certify-consultants" src="{% static 'icons/certify-icon-t1.svg' %}"
                                         alt="certify">
                                </div>
                                <div class="consultants-info">
                                    <p>OAB/SP 398.672</p>
                                </div>
                            </div>
                            <div class="contentconsultants">
                                <div class="consultants-img">
                                    <img class="whats-consultants" src="{% static 'icons/whatsapp-icon-contact.svg' %}"
                                         alt="phone">
                                </div>
                                <div class="consultants-info">
                                    <p>12 99642-9191</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h5>Jeferson Mendes de Andrade</h5>
                        <div class="blockconsultants">
                            <div class="contentconsultants">
                                <div class="consultants-img">
                                    <img class="certify-consultants" src="{% static 'icons/certify-icon-t1.svg' %}"
                                         alt="certify">
                                </div>
                                <div class="consultants-info">
                                    <p>OAB/SP 419.868</p>
                                </div>
                            </div>
                            <div class="contentconsultants">
                                <div class="consultants-img">
                                    <img class="whats-consultants" src="{% static 'icons/whatsapp-icon-contact.svg' %}"
                                         alt="phone">
                                </div>
                                <div class="consultants-info">
                                    <p>11 97119-9647</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h5>Luciana Gonçalves de Camargo</h5>
                        <div class="blockconsultants">
                            <div class="contentconsultants">
                                <div class="consultants-img">
                                    <img class="certify-consultants" src="{% static 'icons/certify-icon-t1.svg' %}"
                                         alt="certify">
                                </div>
                                <div class="consultants-info">
                                    <p>OAB/SP 430.670</p>
                                </div>
                            </div>
                            <div class="contentconsultants">
                                <div class="consultants-img">
                                    <img class="whats-consultants" src="{% static 'icons/whatsapp-icon-contact.svg' %}"
                                         alt="phone">
                                </div>
                                <div class="consultants-info">
                                    <p>11 97290-8196</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="opening-hours">
                <h4>HORÁRIO DE ATENDIMENTO</h4>
                <div>
                    <p>SEGUNDA à Sexta das 9:00 as 18:00</p>
                    <p>Em Caso de Emergências</p>
                    <p>SEGUNDA A DOMINGO - 24HS</p>
                </div>
            </div>
        </div>

        {% if method == 'GET' %}
        {% block sendform %}

        {% endblock %}

        {% elif method == 'POST' %}

        {% block thanksform %}

        {% endblock %}

        {% else %}

        <p>Dados Inválidos</p>
        {% endif %}
    </div>

</section>

{% endblock  %}

